<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>User Edit Form</h2>
    <form action="/users/<%= user._id %>/save" method="POST">
        <p><input type="text" name="name" value="<%= user.name %>"></p>
        <p><input type="text" name="email" value="<%= user.email %>"></p>
        <p><input type="text" name="role"  value="<%= user.role %>"></p>
        <p><button>Save</button></p>
    </form>
</body>
</html>